<p id="notice"><%= notice %></p>

<p>
  <strong>イベント名:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>詳細情報:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>日程:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>上限枚数:</strong>
  <%= @event.stock_count %>
</p>

<p>
  <strong>金額:</strong>
  <%= number_to_currency(@event.price, :unit => "￥", :precision => 0) %>
</p>

<p>
  <strong>予約枚数:</strong>
  <%= @event.sell_count %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
