<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
  <strong>お名前：</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>ご連絡先：</strong>
  <%= @customer.tel %>
</p>

<p>
  <strong>ご住所：</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>メールアドレス：</strong>
  <%= @customer.email %>
</p>

<%#= link_to 'Edit', edit_customer_path(@customer) %>
<%#= link_to 'Back', customers_path %>
<p><%= button_to '予約入力へ', new_reservation_path, method: :get %><p>
<p><%= button_to 'イベント一覧へ戻る', list_path, method: :get %><p>
