<p id="notice"><%= notice %></p>

<h1>予約一覧表</h1>

<table>
  <thead>
    <tr>
      <th>お客様名</th>
      <th>イベント名</th>
      <th>購入枚数</th>
      <th>お支払方法</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.customer.name %></td>
        <td><%= reservation.event.title %></td>
        <td><%= reservation.buy_count %></td>
        <td><%= reservation.payment %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path %>
