<p id="notice"><%= notice %></p>

<p>
  <strong>お客様名:</strong>
  <%= @reservation.customer_id %>
</p>

<p>
  <strong>イベント名:</strong>
  <%= @reservation.event_id %>
</p>

<p>
  <strong>購入枚数:</strong>
  <%= @reservation.buy_count %>
</p>

<p>
  <strong>お支払方法:</strong>
  <%= @reservation.payment %>
</p>

<%#= link_to 'Edit', edit_reservation_path(@reservation) %>
<%#= link_to 'Back', reservations_path %>

<%= button_to 'イベント一覧へ戻る', list_path, method: :get %>